<!--PopUP=======================================================================-->

<div id="Artikel_popUP" class="hide">
	<div id="kop">
		<h3>titel balabl</h2>
			<a class="b-close">x</a>
		<a href="#" id="fav_icon">11</a>
		
	</div>
    
    	<div id="gallery">
    		<img src="images/victorian_dress_full_train_by_magikstock.png">
    	</div>

		<div id="art_info">

				<div id="text">
					<p>Candy gingerbread jelly-o ice cream. Muffin icing cookie cotton candy marshmallow cotton candy. Gingerbread cheesecake bonbon tootsie roll soufflé. Applicake wafer bonbon pudding pie cheesecake. Ice cream chocolate bonbon wafer gummi bears cupcake icing. Marzipan gummies chocolate cake lollipop sugar plum gingerbread donut. Jelly-o chocolate muffin. Sweet bonbon jujubes powder liquorice liquorice bear claw. Bear claw faworki gummi bears croissant macaroon jelly. Pie fruitcake jujubes apple pie carrot cake jelly-o. Gingerbread tart cotton candy caramels tootsie roll gummies chupa chups. Cake </p>
					<p>
					Geupload door: <a href="#">Ilse Kroes</a><br>
					Datum: 20/11/2013</p>
				</div>

				<div id="art_indeling">
					<p id="categorie"><a href="#">Trouwen</a></p>
					<p id="tags"> <a href="#">tage</a>, <a href="#">tage</a>, </p>
				</div>

				<div id="art_delen">
					<a href="#" id="facebook_btn"></a>
					<a href="#" id="pintrest_btn"></a>
					<a href="#" id="twitter_btn"></a>
					<a href="#" id="delen_btn"></a>
				</div>

				<div id="art_actie">
					<a href="#" id="link_btn">Link</a>
					<a href="#" id="fav_btn_uit">Fav +</a>
					<a href="#" id="comments_btn">Reacties</a>
				</div>

				<div id="reaties_container">
					<ul>
						<li>
							<input class="comments_input_titel" type="text" placeholder="naam">
							<textarea class="comments_input" placeholder="reactie"></textarea>
							<button class="post_btn" type="submit" role="button">Post</button>

						</li>
						<li>
							<p class="gebruiker_naam">Naam gebruiker</p>
							<p class="comment">djshfkl;ajsd aksjdf ;sdj asjkf asf ;klsdf ;asdjk f</p>
						</li>

						<li>
							<p class="gebruiker_naam">Naam gebruiker</p>
							<p class="comment">djshfkl;ajsd aksjdf ;sdj asjkf asf ;klsdf ;asdjk f</p>
						</li>

					</ul>	

				</div>
		</div>


</div>

<!--PopUp=======================================================================-->

<!--Artikelen==============================================================================-->

	<div class="artikel_wrapper">
		<div class="artikel_container">
			<div class="kop_k">
				<h3>Titel artikel </h3> <a href="#" class="fav_icon_k">11</a>
			</div>
			<img class="artikel_tegel" src="images/ocelot___stock_image_by_sekhmet_stock-d3eup3o.png" alt="images">
			

			<div class="text_wrapper">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa. </p>
			</div>
			<button id="Artikel_ID">Bekijken<div></div></button>
		</div>
	</div>

		<div class="artikel_wrapper">
		<div class="artikel_container">
						<div class="kop_k">
				<h3>Titel artikel </h3> <a href="#" class="fav_icon_k">11</a>
			</div>
			<img class="artikel_tegel" src="images/Stock_280__peacock_feathers_by_AlzirrSwanheartStock.png" alt="images">
			<div class="text_wrapper">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa. </p>
			</div>
			<button>Bekijken<div></div></button>
		</div>
	</div>

	<div class="artikel_wrapper">
		<div class="artikel_container">
						<div class="kop_k">
				<h3>Titel artikel </h3> <a href="#" class="fav_icon_k">11</a>
			</div>

			<img class="artikel_tegel" src="images/ocelot___stock_image_by_sekhmet_stock-d3eup3o.png" alt="images">
			<div class="text_wrapper">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa. </p>
			</div>
			<button>Bekijken</button>
		</div>
	</div>

		<div class="artikel_wrapper">
		<div class="artikel_container">

						<div class="kop_k">
				<h3>Titel artikel </h3> <a href="#" class="fav_icon_k">11</a>
			</div>

			<img class="artikel_tegel" src="images/victorian_dress_full_train_by_magikstock.png" alt="images">
			<div class="text_wrapper">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa. </p>
			</div>
			<button>Bekijken</button>
		</div>
	</div>

		<div class="artikel_wrapper">
		<div class="artikel_container">

						<div class="kop_k">
				<h3>Titel artikel </h3> <a href="#" class="fav_icon_k">11</a>
			</div>

			<img class="artikel_tegel" src="images/ocelot___stock_image_by_sekhmet_stock-d3eup3o.png" alt="images">
			<div class="text_wrapper">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa. </p>
			</div>
			<button>Bekijken</button>
		</div>
	</div>

	<div class="artikel_wrapper">
		<div class="artikel_container">

						<div class="kop_k">
				<h3>Titel artikel </h3> <a href="#" class="fav_icon_k">11</a>
			</div>
			<img class="artikel_tegel" src="images/Stock_280__peacock_feathers_by_AlzirrSwanheartStock.png" alt="images">
			<div class="text_wrapper">
				
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa. </p>
			</div>
			<button>Bekijken</button>
		</div>
	</div>

	<div class="artikel_wrapper">
		<div class="artikel_container">

						<div class="kop_k">
				<h3>Titel artikel </h3> <a href="#" class="fav_icon_k">11</a>
			</div>
			<img class="artikel_tegel" src="images/ocelot___stock_image_by_sekhmet_stock-d3eup3o.png" alt="images">
			<div class="text_wrapper">
				

				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa. </p>
			</div>
			<button>Bekijken</button>
		</div>
	</div>

	<div class="artikel_wrapper">
		<div class="artikel_container">
						<div class="kop_k">
				<h3>Titel artikel </h3> <a href="#" class="fav_icon_k">11</a>
			</div>
			<img class="artikel_tegel" src="images/victorian_dress_full_train_by_magikstock.png" alt="images">
			<div class="text_wrapper">
				
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa. </p>
			</div>
			<button>Bekijken</button>
		</div>
	</div>

</div>

<!--ENDE Artikelen======================================================================-->