<!--PopUP=======================================================================-->

<div id="Artikel_popUP" class="hide">
	<div id="kop">
		<h3 class="popup-title"> </h3>
			<a class="b-close">x</a>
		<a href="#" id="fav_icon">11</a>
		
	</div>
    
    	<div id="popup-gallery">
    		<img id="popup-image" src="#">
    	</div>

		<div id="art_info">

				<div id="text">
					<div class="popup-content">Oeps, er ging iets mis. probeer dit artikel nog eens te laden.</div>
					<div class="popup-name">Geupload door: ...</div>
					<div class="popup-date">Datum: ...</div>
				</div>

				<div id="art_indeling">
					<div class="popup-category">...</div>>
					<div class="popup-tags">...</div>
				</div>

				<div id="art_delen">
					<a href="#" id="facebook_btn"></a>
					<a href="#" id="pintrest_btn"></a>
					<a href="#" id="twitter_btn"></a>
					<a href="#" id="delen_btn"></a>
				</div>

				<div id="art_actie">
					<div class="popup-link_btn"><a href="#" id="link_btn">Link</a></div>
					<div class="popup-fav_btn"><a href="#" id="fav_btn_uit">Fav +</a></div>
					<div class="popup-comments_btn"><a href="#" id="comments_btn">Reacties</a></div>
				</div>

				<div id="reaties_container">
					<ul id="reactiesblock">
						<li>
							<input class="comments_input_titel" type="text" placeholder="naam">
							<textarea class="comments_input" placeholder="reactie"></textarea>
							<button class="post_btn" type="submit" role="button">Post</button>

						</li>
						<li>
							<p class="gebruiker_naam">Naam gebruiker</p>
							<p class="comment">djshfkl;ajsd aksjdf ;sdj asjkf asf ;klsdf ;asdjk f</p>
						</li>

						<li>
							<p class="gebruiker_naam">Naam gebruiker</p>
							<p class="comment">djshfkl;ajsd aksjdf ;sdj asjkf asf ;klsdf ;asdjk f</p>
						</li>

					</ul>	

				</div>
		</div>


</div>

<!--PopUp=======================================================================-->

<!--Artikelen==============================================================================-->
	

	<% indexarticlenumber = 0 %>
	
	<% @articles.each do |article| %>


		<div class="artikel_wrapper">
			<div class="artikel_container">
				<div class="kop_k">
					<h3><%= article.title %></h3> <a href="#" class="fav_icon_k">11</a>
				</div>
				<img class="artikel_tegel" src="<%= article.picture_url(:thumb) %>" alt="images">
				

				<div class="text_wrapper">
					<%=h truncate(article.content, :length => 270) %>
				</div>

				<button class="article-index-button" id="<%= indexarticlenumber %>">Bekijken<div></div></button>
				<% indexarticlenumber += 1 %>
			</div>
		</div>
	<% end %>
	

</div>

<!--ENDE Artikelen======================================================================-->

	<div id="footer">
		<div id="more_btn_container">
			<button>More</button>