<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate @posts, :page_links => false %>

<ul class="users">
	<%= render @users %>
</ul>

<%= will_paginate @posts, :page_links => false %>