/*User block=========================================================*/

#user_container{

}

.avatar{
	height: 250px;
	width: 250px;
}

.name_block{

}

.place_article_button{

}

.user_links{
	width: 100%;
	height: 18px;
	display: block;
}

.user_links a{
	float: right;
	margin-left: 20px;
}

/*User block=========================================================*/


