/*user menu==================================================================*/
.avatar{
	width: 250px;
	height: 250px;
	display: inline;
	background-color: #000000;
	margin-top: 0;
	margin-right: 10px;
	float: left;
	display: inline;
}

.name_block{
	width: 250px;
	margin-left: 0;
	display: inline-block;
}

h3.username{
	width: 250px;
	margin: 0 0 0 10px;
}

.place-article_button{
	width: 250px;
	margin-top: 30px;
	margin-left: 10px;
}
button{
	width: 200px;
	height: 25px;
	border-radius: 5px;
	background-color: red;
	color: #FFFFFF;
}

.user_links{
	float: right;
	clear: both;
	margin-right: 10px;
}

/*articles===================================================================*/
#articles{
	
}

.article_block{
	height: auto;
	width: 213px;
	border: 1px solid;
	clear: both;
	margin-right: 10px;
	margin-top: 10px;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
}

.block_last{
	margin-right: -10px;
}