<html>
<head>
<title>geen Inspiratie</title>

<link rel="stylesheet" type="text/css" href="s_3.css">

<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="js/effects.js"></script>
<script type="text/javascript" src="js/layout.js"></script>
<script type="text/javascript" src="js/jquery.bpopup-x.x.x.min.js"></script>



<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />  

<style type="text/css">

.categoriee{
width: 240px;
padding-bottom: 10px;
overflow: visible;
}

.categoriee ul{
position: absolute;
z-index: 20;
width: 240px;
display: block;
list-style-image: none;
text-decoration: none;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-o-border-radius: 8px;
}

.categoriee a{
	text-decoration: none; 
	color: #ffffff; 
}

.categoriee a:hover, .categoriee a:active{
	color:#0a6f7b;

}

.categoriee ul li{
	height: 44px; 
	width: 220px; 
	display: block;
	margin-left: 10px; 
	padding-left: -6px; 
	border-top: solid 1px #ffffff;
	list-style-type: none;
	text-decoration: none; 
}

.categoriee ul li a{
	display: block;
	width: 220px; 
	height: 25px;
	padding-top: 15px;
}

.top{
display:table-cell; 
vertical-align:middle;
height: 200px;
width: 240px; 
}

.dropdown_2{
	display: block;
	width: 220px; 
	height: 25px;
	padding-top: 5px;
	margin-left: 10px; 
	margin-top: 10px;	
	background-image: url(images/dropdown_icon_2.png);
	background-repeat: no-repeat;
	background-position: right;
	border-bottom: solid 4px #ffffff;
}

.dropdown_2:hover, .dropdown_2:active{
		border-bottom: solid 4px #0a6f7b;
		background-image: url(images/dropdown_icon_2_hover.png);
}

h4{
	font-size: 30px; 
	text-align: center;
	font-family: 'Lobster13Regular';
}

.feest .top, .werk .top, .relatie .top{
	height: 100px; 
}

.cadeaus .top, .mode .top, .top{
	height: 150px;
}
.feest, .feest ul, .werk, .werk ul{
	background-color: #00a3a1;
}

.cadeaus, .cadeaus ul, .wonen, .wonen ul{
	background-color: #58c500;
}

.relatie, .relatie ul{
	background-color: #e2b043;
}

.er, .er ul, .mode, .mode ul{
	background-color: #f2cb05;
}

.beauty, .beauty ul{
	background-color: #946ee1;
}

div.artikel_wrapper.categoriee.feest{
	overflow: visible;
}

</style>

</head>
<body onload="setupCollums();">
<!-- Header responsife gemaakt-->
	<div id="header_wrapper">
		<header class="header">
			<div class="logo">
			
			<h1><img src="images/logo.png"> GeenInspiratie</h1>
			<a href="#" class="nav-menu-btn_2">Menu</a>
			</div>

			<ul class="nav-left">
				<li><a href="#" class="nav-menu-btn">Menu</a>
					<!--Dropdown-->
					<ul class="navleft-dropdown">

						<li class="Artikel_toevoegen_2"><a href="#" >Artikel Toevoegen</a></li>
						<li class="in-uitloggen_2"><a href="#">Inloggen <!-- uitloggen --> </a></li>
						<li class="gebuiker_2"><a href="#">Lotje2001 <!-- Allen bij inloogen --> </a></li>


						<li><a href="#">Over Ons</a></li>
						<li><a HREF="#">Contact</A></li>

					</ul>

				</li>

			</ul>

			<ul class="nav-right">
				
				<li><a href="#" class="message">
						<em>
							10

						</em>

				</a></li>
				
				<li class="in-uitloggen"><a href="#">Inloggen <!-- uitloggen --> </a></li>
				<li class="gebuiker"><a href="#">Lotje2001 <!-- Allen bij inloogen --> </a></li>
				<li class="Fleft"><a href="#" >Artikel Toevoegen</a></li>
				
				</ul>
				
		</header>
	</div>

<!--spore================================================================================-->
<div id="spore_wrapper">

	<div id="spore_container">


		<a href="#"><div class="spore_item corner">
			<h3>titel artikel</h3>
			<img src="images/ocelot___stock_image_by_sekhmet_stock-d3eup3o.png">
		</div></a>

				<a href="#"><div class="spore_item corner">
			<h3>titel artikel</h3>
			<img src="images/ocelot___stock_image_by_sekhmet_stock-d3eup3o.png">
		</div></a>

				<a href="#"><div class="spore_item corner">
			<h3>titel artikel</h3>
			<img src="images/ocelot___stock_image_by_sekhmet_stock-d3eup3o.png">
		</div></a>

				<a href="#"><div class="spore_item corner">
			<h3>titel artikel</h3>
			<img src="images/ocelot___stock_image_by_sekhmet_stock-d3eup3o.png">
		</div></a>

				<a href="#"><div class="spore_item corner">
			<h3>titel artikel</h3>
			<img src="images/ocelot___stock_image_by_sekhmet_stock-d3eup3o.png">
		</div></a>



	
	</div>

		<button id="btn_spore">
			<div class="btn_spore_vlak"></div>
			<div class="btn_spore_vlak"></div>
			<div class="btn_spore_vlak"></div>
		</button>

		<!--Social Media links-->
	<div id="social_media">
		<a href="#" alt="facebook" class="facebook"></a>
		<a href="#" alt="twitter" class="twitter"></a>
	</div>

<!--Social Media links-->
</div>	

<!--spore================================================================================-->

<!--Artikel vinden================================================================================-->


<div id="vinden_wrapper">
	<div id="vinden_container">
		<div id="vinden_container_2">		
			<button id="categorieen_btn">Alle categorieen</button>
			<button id="n_artikelen_btn">Nieuwe artikelen</button>
			<button id="top_btn">Top artikelen</button>
			<input type="text" placeholder="zoeken" id="zoek_functie">
		</div>
	</div>
	<div id="zigzag"></div>

</div>
<!--paigna Kop++++++++++++++++++++++++++++++++++++++++++++++++++-->

<div id="kop_wrapper">
	<div id="kpop_container">
		<h2>Alle categorieen</h2>
	</div>
</div>

<!--PopUP=======================================================================-->

<!--PopUp=======================================================================-->
<div id="wrapper"> 
<!--Artikelen==============================================================================-->
	
	
	<div class="artikel_wrapper categoriee feest">
		<a href="" class="top"><h4>Feest</h4></a>
		<a href="" class="dropdown_2">Meer</a>
		
		<ul>
			<li></li>
			<li><a href="#">Aanzoek</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Evenementen</a></li>
			<li><a href="#">Feestdagen</a></li>
			<li><a href="#">Huwelijk</a></li>
			<li><a href="#">Jubilea</a></li>
			<li><a href="#">Muziek</a></li>
			<li><a href="#">Taarten en zoet</a></li>
			<li><a href="#">Teksten gedichten</a></li>
			<li><a href="#">Drukwerk</a></li>

		</ul>	
	</div>


	<div class="artikel_wrapper categoriee cadeaus">
		<a href="" class="top"><h4>Cadeaus</h4></a>
		<a href="" class="dropdown_2">Meer</a>

		<ul>
			<li><a href="#">Aanzoek</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Evenementen</a></li>
			<li><a href="#">Feestdagen</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>

			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>

		</ul>
	</div>

	<div class="artikel_wrapper categoriee relatie">
		<a href="" class="top"><h4>Relatie Familie</h4></a>
		<a href="" class="dropdown_2">Meer</a>

		<ul>
			<li><a href="#">Aanzoek</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Evenementen</a></li>
			<li><a href="#">Feestdagen</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>

			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>

		</ul>	
	</div>

	<div class="artikel_wrapper categoriee er">
		<a href="" class="top"><h4>Er op uit!</h4></a>
		<a href="" class="dropdown_2">Meer</a>

		<ul>
			<li><a href="#">Aanzoek</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Evenementen</a></li>
			<li><a href="#">Feestdagen</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>

			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>

		</ul>	
	</div>

	<div class="artikel_wrapper categoriee beauty">
		<a href="" class="top"><h4>Beauty en Opvallend</h4></a>
		<a href="" class="dropdown_2">Meer</a>

		<ul>
			<li><a href="#">Aanzoek</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Evenementen</a></li>
			<li><a href="#">Feestdagen</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>

			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>
		</ul>	
	</div>

	<div class="artikel_wrapper categoriee mode">
		<a href="" class="top"><h4>Mode</h4></a>
		<a href="" class="dropdown_2">Meer</a>

		<ul>
			<li><a href="#">Aanzoek</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Evenementen</a></li>
			<li><a href="#">Feestdagen</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>

			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>
		</ul>	
	</div>

	<div class="artikel_wrapper categoriee wonen">
		<a href="" class="top"><h4>Wonen</h4></a>
		<a href="" class="dropdown_2">Meer</a>

		<ul>
			<li><a href="#">Aanzoek</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Evenementen</a></li>
			<li><a href="#">Feestdagen</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>

			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>

		</ul>	
	</div>

	<div class="artikel_wrapper categoriee werk">
		<a href="" class="top"><h4>Werk</h4></a>
		<a href="" class="dropdown_2">Meer</a>

		<ul>
			<li><a href="#">Aanzoek</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Evenementen</a></li>
			<li><a href="#">Feestdagen</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>

			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>
			<li><a href="#">Drukwerk</a></li>

		</ul>	
	</div>

</div>

<!--ENDE Artikelen======================================================================-->

	<div id="footer">
		<div id="more_btn_container">
			<div id="copyright">©Inspiratieplanet en <a href="http://www.gotogrow.nl" title="">Gotogrow</a> <br/> Powered by <a href="http://www.nhl.nl" title="">NHL</a></div>
		</div>

	</div>



</body>
</html>
